<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <title>Safety Scan from CVE</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>
<h2>查询</h2>

<div class="search">

    <form action="/search"   method="POST">
        <p th:text="'packageName: ' +${packageName}"/>
        <p th:text="'ErrorId: ' +${ErrorId}"/>
        <p th:text=" 'Tags: ' + ${Tags}"/>
        <p th:text=" 'Description: ' +${Description} "/>
        <p th:text=" 'baseScore: ' +${baseScore}"/>
        <p th:text="'baseSeverity: '+${baseSeverity}"/>
        <p th:text="'URL: '+${URL}"/>
    </form>
</div>

</body>
</html>